{%extends 'base.html.twig'%}

{%block title%}{{company.name}}{%endblock%}

{%block body%}
  <h1>{{ company.name }}</h1>
  <p>Email: {{ company.email }}</p>
  <p>
  Website: <a href="https://{{company.website}}">{{ company.website }}</a>
  </p>
  <hr>
  <a href="/companies">Go Back</a>
{%endblock%}
